<ion-header>
  <ion-navbar>
    <ion-title>
     	随心所置1
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
	<username [title]="'哈哈哈哈'"></username>
	<ion-list *ngIf="isLogin">
		<ion-item>
		    <ion-avatar item-start>
		      <img src="assets/imgs/photo.png">
		    </ion-avatar>
		    <h2>吴雨杰</h2>
		    <p>广东省 广州市</p>
		    <button ion-button color="dark" round class="photo-btn" (click)="changePhoto()">更换头像</button>
		</ion-item>
	</ion-list>
	<ion-list *ngIf="!isLogin">
		<button ion-item (click)="goLogin()">
			未登陆
		</button>
	</ion-list>
	<ion-list>
		<button ion-item>
			我的收藏
		</button>
	</ion-list>
	<ion-list>
		<button ion-item (click)="goSetting()">
			账号设置
		</button>
	</ion-list>
</ion-content>
